@import 'tailwindcss';

@theme {
  --color-bg-main: #f9fafb;
  --color-bg-purple: #f9f4fe;
  --color-bg-warning: #fbf2f1;
  --color-bg-green: #f4fdf4;
  --color-primary-purple: #e0c5fa;
  --color-secondary-purple: #ecddfe;
  --color-text-charcoal-light: #666666;
  --color-text-charcoal-dark: #1a1a1a;
  --color-primary-green: #4caf50;
  --color-primary-green-light: #81c784;
  --color-primary-green-dark: #2e7d32;
  --color-primary-pink-dark: #d53696;
  --color-warning-stroke: #ff0000;
  --font-caveat: 'Caveat', cursive;
  --font-josefin: 'Josefin Sans', sans-serif;
}

@layer base {
  html {
    font-family: 'Josefin Sans';
  }
}

@layer components {
  .heading2 {
    @apply text-2xl font-bold;
  }

  .heading3 {
    @apply text-xl font-bold lg:w-full lg:text-center;
  }

  .para {
    @apply text-text-charcoal-light text-base;
  }

  .section-base {
    @apply flex flex-col items-center gap-5 p-5 shadow-md;
  }

  .why-card {
    @apply flex h-75 w-75 flex-col items-center justify-center gap-5 rounded-xl bg-white p-10;
  }

  .icon-border {
    @apply bg-bg-purple border-primary-purple flex h-16 w-16 items-center justify-center rounded-full border-2;
  }

  .icon {
    @apply text-primary-pink-dark size-10;
  }

  .nav-elems {
    @apply bg-bg-purple hover:bg-secondary-purple w-screen cursor-pointer py-3 text-center ease-linear;
  }

  .lg-nav-elems {
    @apply hover:text-primary-purple cursor-pointer px-2.5 text-center text-nowrap;
  }

  .this-page {
    @apply bg-primary-purple hover:bg-primary-purple;
  }

  .nav-hidden {
    @apply translate-x-full opacity-0 duration-300 ease-in-out;
  }

  .nav-visible {
    @apply translate-x-0 opacity-100 duration-300 ease-in-out;
  }

  .input-box {
    @apply text-text-charcoal-light rounded-lg bg-white p-1;
  }

  .stat-card {
    @apply border-primary-green-light text-text-charcoal-light bg-bg-green flex h-20 w-full items-center justify-center gap-5 rounded-2xl border-2 text-xl;
  }

  .log-table thead {
    @apply hidden;
  }

  /* .history-row {
    @apply sm:hidden;
  } */

  /* .form-group {
    @apply para flex w-full flex-col gap-2.5;
  } */
}
