@import "tailwindcss";

@theme {
    --color-bg-main: #F9FAFB;
    --color-bg-purple: #F9F4FE;
    --color-bg-warning: #FBF2F1;
    --color-primary-purple: #E0C5FA;--color-secondary-purple: #ECDDFE;
    --color-text-charcoal-light: #666666;
    --color-text-charcoal-dark: #1A1A1A;
    --color-primary-green: #4CAF50;
    --color-primary-green-light: #81C784;
    --color-primary-green-dark: #2E7D32;
    --color-primary-pink-dark: #D53696;
    --color-warning-stroke: #FF0000;
    --font-caveat: 'Caveat', cursive;
    --font-josefin: 'Josefin Sans', sans-serif;
}

@layer base {
    html {
        font-family: 'Josefin Sans';
    }
}

@layer components {
    .heading2 {
        @apply text-xl font-bold;
    }

    .heading3 {
        @apply text-lg font-bold;
    }

    .para {
        @apply text-sm text-text-charcoal-light;
    }

    .section-base {
        @apply  flex flex-col gap-5 items-center p-5 shadow-md;
    }

    .why-card {
        @apply bg-white rounded-xl flex flex-col items-center p-10 w-[300px] h-[300px] justify-center gap-5;
    }

    .icon-border {
        @apply w-16 h-16 bg-bg-purple rounded-full border-primary-purple border-2 flex items-center justify-center;
    }

    .icon {
        @apply size-10 text-primary-pink-dark;
    }
}